<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test-Board</title>
</head>
<body>
  <header>
    <h1>Test_Board</h1>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/user/edit">User 수정</a>
        </li>
        <li>
          <a href="/user/logout">Logout</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="button">
      <a class="btn" href="/article/lists">Back</a>
    </div>
    
    <h3>Edit Post</h3>
    <form action="/article/edit/<%= article._id %>" method="post">
      <section>
        <fieldset>
          <div>
            <label>Title</label>
            <input type="text" name="title" id="title" value= <%= article.title %> >
          </div>
          <div>
            <label>Description</label>
            <input type="text" name="description" id="description" value= <%= article.description %> >
          </div>
        </fieldset>
      </section>
      <div class="buttons">
        <button type="submit" class="btn">Submit</button>
      </div>
    </form>
  </main>

</body>
</html>