<!doctype html>
<html>
<head>
  <title>Test_Board</title>
</head>

<body>
  <div>
    <h1>Board</h1>
  </div>
  <table>
    <thead>
      <tr>
        <th class="title">Title</th>
        <th class="writer">Writer</th>
        <th class="date">Date</th>
      </tr>
    </thead>
    <tbody>
      <% if(alticles == null || alticles.length == 0){ %>
        <tr>
          <td class="noData" colspan=100> 게시된 글이 없습니다. </td>
        </tr>
      <% } %>
      <% alticles.forEach(function(alticle) { %>
        <tr>
          <td class="title">
            <a href="/alticles/<%= alticle._id %>">
              <div>
                <%= alticle.title %>
              </div>
            </a>
          </td>
          <td class="writer">
              <div>
                <%= alticle.title %>
              </div>
          </td>
          <td class="date">
            <%= alticle.createdDate %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <div class="button">
    <a class="btn" href="/alritcle/new">글 등록하기</a>
  </div>
</body>
</html>