<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test-Board</title>
</head>
<body>
  <header>
    <h1>Test-Board</h1>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/user/edit">User 수정</a>
        </li>
        <li>
          <a href="/user/logout">Logout</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="button">
      <a class="btn" href="/article/lists">Back</a>
    </div>
    <form action="/article/new" method="post">
      <section>
        <h3>새로운 계시글</h3>
        <fieldset>
          <div class="title-section">
            <label>Title</label>
            <input type="text" name="title" id="title">
          </div>
          <div class="description-section">
            <label>Description</label>
            <input type="text" name="description" id="description">
          </div>
        </fieldset>
      </section>
      <div class="button">
        <button type="submit">Submit</button>
      </div>
    </form>
  </main>
</body>
</html>