<!doctype html>
<html>
<head>
  <title>Register</title>
</head>

<body>
  <div>
    <div>
      <h1>Edit User</h1>

      <form action="/user/egister" method="put">
        <div>
          <label for="email">Email</label>
          <input type="email" name="email">
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password">
        </div>
        <div>
          <label for="username">Username</label>
          <input type="text" name="username">
        </div>

        <button type="submit">Edit</button>
      </form>

      <hr>
      <p>
        수정하고 싶지않으신 분들은 여기를 눌러주세요.
        <a href="/alticle/lists">돌아가기</a>
      </p>
    </div>
  </div>
</body>

</html>