<!doctype html>
<html>
<head>
  <title>Test_Board</title>
</head>

<body>
  <div>
    <div>
      <h1>Login</h1>

      <form action="/user/cookie" method="post">
        <div>
          <label>Email</label>
          <input type="text" name="email" required="true">
        </div>
        <div>
          <label>Password</label>
          <input type="password" name="password" required="true">
        </div>
        
        <div class="buttons">
          <input type="submit" value="Log-In">
        </div>
      </form>

      <p>
        회원가입을 해주세요.
        <a href="/user/register">Signup</a>
      </p>
    </div>
  </div>
</body>

</html>