<!doctype html>
<html>
<head>
  <title>Test_Board</title>
</head>

<body>
  <div>
    <div>
      <h1>Login</h1>

      <% if (message.length > 0) { %>
        <div class="alert alert-danger">
          <%= message %>
        </div>
      <% } %>

      <form action="/user/login" method="post">
        <div>
          <label>Email</label>
          <input type="text" name="email">
        </div>
        <div>
          <label>Password</label>
          <input type="password" name="password">
        </div>
        <button type="submit">Login</button>
      </form>

      <p>
        회원가입을 해주세요.
        <a href="/user/register">Signup</a>
      </p>
    </div>
  </div>
</body>

</html>